<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head lang="en">
<meta charset="UTF-8" />
<title>dash board</title>
<link rel="stylesheet"
	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap.min.css}" />
<link rel="stylesheet"
	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"
	th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap-theme.min.css}" />
<link rel="stylesheet"
	href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.9.1/bootstrap-table.min.css" />
<link href="/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
<link href="/css/bootstrap-timepicker.min.css"
	th:href="@{/css/bootstrap-timepicker.min.css}" rel="stylesheet" />
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
</head>
<body>
	<div class="container">
		<div class="col-sm-12">
			<span class="col-sm-4">

				<h1>ダッシュボード</h1>
			</span> <span class="col-sm-offset-9 col-sm-8" style="padding-bottom: 20px">
				<span sec:authentication="principal.username">duke</span> <!-- <span
				sec:authentication="principal.authorities"></span>-->さんログイン中。<a
				th:href="@{/logout}" class="btn btn-default btn-xs">ログアウト</a>
			</span>
		</div>

		<div class="col-sm-12">
			<div th:if="${customerForm.admin} == true" class="col-sm-offset-9">
				<button class="btn btn-primary" data-toggle="modal"
					data-target="#reg">ｼﾞｮﾌﾞ登録</button>
				<button class="btn btn-primary" data-toggle="modal"
					data-target="#request">ｽｹｼﾞｭｰﾙ依頼</button>
			</div>


			<!-- 
        <div id="toolbar">
            <div class="form-inline" role="form">
				  <div class="form-group" style="padding-left:800px;">
					  <div>
							<select class="form-control selectpicker" id="aws">
								<option th:each="key : ${awsNames.keySet()}" th:value="${key}"
									th:text="${awsNames.get(key)}">pulldown</option>
							</select>
					  </div>
				  </div>
                <div class="form-group">
                    <span>Offset: </span>
                    <input name="offset" class="form-control w70" type="number" value="0"></input>
                </div>
                <div class="form-group">
                    <span>Limit: </span>
                    <input name="limit" class="form-control w70" type="number" value="5"></input>
                </div>
                <div class="form-group">
                    <input name="search" class="form-control" type="text" placeholder="Search"></input>
                </div>
                <button id="ok" type="submit" class="btn btn-default">OK</button>
            </div>
        </div>
-->

			<legend>ジョブ一覧</legend>
			<div>

				<table id="job-table" data-page-size="10" data-sort-name="jobName"
					data-sort-order="asc" data-sortable="true"
					data-classes="table table-condensed table-striped table-bordered table-responsive table-hover"
					data-pagination="true" data-search="true" data-show-refresh="true"
					data-toggle="table"
					data-url="http://localhost:10080/cloud-tool/v1/api/lambda">
					<thead>
						<tr>
							<th data-sortable="true" data-field="jobId">ジョブID</th>
							<th data-sortable="true" data-field="awsName">アカウント</th>
							<th data-sortable="true" data-field="actionName">アクション</th>
							<th data-sortable="true" data-field="triggerName">トリガ</th>
							<th data-formatter="descFormatter">&nbsp;</th>
						</tr>
					</thead>
				</table>
				<script th:if='${customerForm.admin} == true'>
					function descFormatter(str, json) {
						//console.debug(value);
						var ret = "";
						/* <![CDATA[ */
						var ret = "<button class='btn btn-danger btn-xs' data-target='#"+json.modalId+"' data-toggle='modal' data-arn='"+json.arn+"' data-description='"+json.description+"'>実行</button>";
						ret += "&nbsp;<button  class='btn btn-success btn-xs' data-target='#"+json.modModalId+"' data-toggle='modal' data-arn='"+json.arn+"' data-description='"+json.description+"'>編集</button>";
						ret += "&nbsp;<button  class='btn btn-warning btn-xs' onclick=\"removeJob('"
								+ json.arn + "')\";>削除</button>";
						/*]]>*/
						return ret;
					}
				</script>
				<script th:if='${customerForm.admin} == false'>
					function descFormatter(str, json) {
						//console.debug(value);
						var ret = "";
						/* <![CDATA[ */
						var ret = "<button class='btn btn-danger btn-xs' data-target='#"+json.modalId+"' data-toggle='modal' data-arn='"+json.arn+"' data-description='"+json.description+"'>実行</button>";
						/*]]>*/
						return ret;
					}
				</script>
			</div>
		</div>
	</div>
	<div class="modal fade" id="exec" tabindex="-1" role="dialog"
		aria-labelledby="exec" aria-hidden="true" data-show="true"
		data-keyboard="false" data-backdrop="static">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&#215;</span><span class="sr-only">閉じる</span>
					</button>
					<h4 class="modal-title">実行ﾀﾞｲｱﾛｸﾞ</h4>
				</div>
				<!-- /modal-header -->
				<div class="modal-body">
					<div id="loading">
						<img src="/cloud-tool/assets/ajax-loader.gif" height="30"
							width="30" alt=""></img>
					</div>
					<ul class="list-unstyled recipient"></ul>

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
	<!-- /.modal -->

	<!-- request dialog -->
	<div class="modal fade" id="request" tabindex="-1" role="dialog"
		aria-labelledby="requestLabel" aria-hidden="true" data-show="true"
		data-keyboard="false" data-backdrop="static">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&#215;</span><span class="sr-only">閉じる</span>
					</button>
					<h3 class="modal-title">ｽｹｼﾞｭｰﾙ依頼</h3>
				</div>
				<!-- /modal-header -->
				<div class="modal-body">
					<form class="container-fluid form-horizontal">
						<span style="padding-bottom: 5px" class="text-danger" id="error"></span>
						<input class="form-control" type="hidden" id="description"
							value="description"></input> <input class="form-control"
							type="hidden" id="arn" name="arn"></input>
						<div class="form-group">
							<div class="form-group">
								<label class="control-label col-sm-2" for="jobId">JobId</label>
								<div class="col-sm-10">
									<select class="form-control selectpicker" data-width="75px"
										id="jobId">
									</select>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-2" for="jobId">Time</label>
								<div class="col-sm-10">
									<div class="input-group bootstrap-timepicker timepicker">
										<input id="time" type="text" class="form-control input-small"></input>
										<span class="input-group-addon"><i
											class="glyphicon glyphicon-time"></i></span>
									</div>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-2" for="cronType">Type</label>
								<div class="col-sm-10">
									<select class="form-control selectpicker input-xs"
										data-width="75px" id="cronType">
										<option th:each="key : ${cronTypes.keySet()}"
											th:value="${key}" th:text="${cronTypes.get(key)}">pulldown</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-2" for="note">Note</label>
								<div class="col-sm-10">
									<input class="form-control input-xs" type="text" id="note"
										name="note" placeholder="詳細入力"></input>
								</div>
							</div>
						</div>
					</form>
					<!-- 
          <p class="recipient">通信中..</p>
          -->
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary">登録</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
	<!-- /.modal -->
	<div th:include="customers/dialogs/ref::static"></div>

	<!-- regダイアログ -->
	<div class="modal fade" id="reg" tabindex="-1" role="dialog"
		aria-labelledby="regLabel" aria-hidden="true" data-show="true"
		data-keyboard="false" data-backdrop="static">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&#215;</span><span class="sr-only">閉じる</span>
					</button>
					<h3 class="modal-title">ｼﾞｮﾌﾞ登録</h3>
				</div>
				<!-- /modal-header -->
				<div class="modal-body">
					<ul class="nav nav-tabs">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
								<img alt="Brand" src="/cloud-tool/img/aws.jpeg" style="height: 50px;">
									<span class="caret"></span>
								</img>
							</a>
							<ul class="dropdown-menu">
								<li><a href="#tab-ec2" data-toggle="tab">EC2</a></li>
								<li><a href="#tab-ebs" data-toggle="tab">EC2-EBS</a></li>
								<li><a href="#tab-elb" data-toggle="tab">EC2-ELB</a></li>
								<li><a href="#tab-sg" data-toggle="tab">EC2-SG</a></li>
								<li><a href="#tab-rds" data-toggle="tab">RDS</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								<img alt="Brand" src="/cloud-tool/img/azure.png" style="height: 50px;">
									<span class="caret"></span>
								</img>
							</a>
							<ul class="dropdown-menu">
								<li><a href="#tab-ec2" data-toggle="tab">Virtual Machine</a></li>
							</ul>
						</li>
					</ul>
					<div class="tab-content">
						<div class="tab-pane fade in active" id="tab-ec2">
							<div style="padding-top: 10px">
								<form class="container-fluid form-horizontal">
									<div class="form-group">
										<label class="control-label col-sm-2">Service</label>
										<div class="col-sm-10">
											<input class="form-control input-xs disabled" disabled="true" value="EC2" type="text" 
												></input>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label col-sm-2" for="jobId">JobId</label>
										<div class="col-sm-10">
											<input class="form-control input-xs" type="text" id="jobId"
												name="jobId" placeholder="JobIdを入力"></input>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label col-sm-2" for="triggerName">Trigger</label>
										<div class="col-sm-10">
											<select class="form-control selectpicker input-xs"
												data-width="75px" id="triggerName">
												<option th:each="key : ${triggerNames.keySet()}"
													th:value="${key}" th:text="${triggerNames.get(key)}">pulldown</option>
											</select>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label col-sm-2" for="actionName">Action</label>
										<div class="col-sm-10">
											<select class="form-control selectpicker input-xs"
												data-width="75px" id="actionName">
												<option th:each="key : ${actionNames_ec2.keySet()}"
													th:value="${key}" th:text="${actionNames_ec2.get(key)}">pulldown</option>
											</select>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label col-sm-2" for="awsName">AWS</label>
										<div class="col-sm-10">
											<select class="form-control selectpicker input-xs"
												data-width="75px" id="awsName">
												<option th:each="key : ${awsNames.keySet()}"
													th:value="${key}" th:text="${awsNames.get(key)}">pulldown</option>
											</select>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label col-sm-2" for="region">Region</label>
										<div class="col-sm-10">
											<select class="form-control selectpicker input-xs"
												data-width="75px" id="region">
												<option th:each="key : ${regionNames.keySet()}"
													th:value="${key}" th:text="${regionNames.get(key)}">pulldown</option>
											</select>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label col-sm-2" for="instance">instance</label>
										<div class="col-sm-10">
											<select class="form-control selectpicker input-xs"
												id="instance">
											</select>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label col-sm-2" for="image">image</label>
										<div class="col-sm-10">
											<select class="form-control selectpicker input-xs" id="image">
											</select>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label col-sm-2" for="snapshot">snapshot</label>
										<div class="col-sm-10">
											<select class="form-control selectpicker input-xs"
												id="snapshot">
											</select>
										</div>
									</div>
								</form>
							</div>
						</div>
						<div class="tab-pane fade" id="tab-ebs">
							<div style="padding-top: 10px">
								<form class="container-fluid form-horizontal">
									<div class="form-group">
										<label class="control-label col-sm-2">Service</label>
										<div class="col-sm-10">
											<input class="form-control input-xs" disabled="true" value="EC2-EBS" type="text" 
												></input>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label col-sm-2" for="jobId">Job名</label>
										<div class="col-sm-10">
											<input class="form-control input-xs" type="text" id="jobId"
												name="jobId" placeholder="Job名を入力"></input>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label col-sm-2" for="triggerName">Trigger</label>
										<div class="col-sm-10">
											<select class="form-control selectpicker input-xs"
												data-width="75px" id="triggerName">
												<option th:each="key : ${triggerNames.keySet()}"
													th:value="${key}" th:text="${triggerNames.get(key)}">pulldown</option>
											</select>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label col-sm-2" for="actionName">Action</label>
										<div class="col-sm-10">
											<select class="form-control selectpicker input-xs"
												data-width="75px" id="actionName">
												<option th:each="key : ${actionNames_ebs.keySet()}"
													th:value="${key}" th:text="${actionNames_ebs.get(key)}">pulldown</option>
											</select>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label col-sm-2" for="awsName">AWS</label>
										<div class="col-sm-10">
											<select class="form-control selectpicker input-xs"
												data-width="75px" id="awsName">
												<option th:each="key : ${awsNames.keySet()}"
													th:value="${key}" th:text="${awsNames.get(key)}">pulldown</option>
											</select>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label col-sm-2" for="region">Region</label>
										<div class="col-sm-10">
											<select class="form-control selectpicker input-xs"
												data-width="75px" id="region">
												<option th:each="key : ${regionNames.keySet()}"
													th:value="${key}" th:text="${regionNames.get(key)}">pulldown</option>
											</select>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label col-sm-2" for="volume">Volume</label>
										<div class="col-sm-10">
											<select class="form-control selectpicker input-xs"
												id="volume">
											</select>
										</div>
									</div>
								</form>
							</div>
						</div>
						<div class="tab-pane fade" id="tab-elb">
							<div style="padding-top: 10px">
								<form class="container-fluid form-horizontal">
									<div class="form-group">
										<label class="control-label col-sm-2">Service</label>
										<div class="col-sm-10">
											<input class="form-control input-xs disabled" disabled="true" value="EC2-ELB" type="text" 
												></input>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label col-sm-2" for="jobId">Job名</label>
										<div class="col-sm-10">
											<input class="form-control input-xs" type="text" id="jobId"
												name="jobId" placeholder="Job名を入力"></input>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label col-sm-2" for="triggerName">Trigger</label>
										<div class="col-sm-10">
											<select class="form-control selectpicker input-xs"
												data-width="75px" id="triggerName">
												<option th:each="key : ${triggerNames.keySet()}"
													th:value="${key}" th:text="${triggerNames.get(key)}">pulldown</option>
											</select>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label col-sm-2" for="actionName">Action</label>
										<div class="col-sm-10">
											<select class="form-control selectpicker input-xs"
												data-width="75px" id="actionName">
												<option th:each="key : ${actionNames_elb.keySet()}"
													th:value="${key}" th:text="${actionNames_elb.get(key)}">pulldown</option>
											</select>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label col-sm-2" for="awsName">AWS</label>
										<div class="col-sm-10">
											<select class="form-control selectpicker input-xs"
												data-width="75px" id="awsName">
												<option th:each="key : ${awsNames.keySet()}"
													th:value="${key}" th:text="${awsNames.get(key)}">pulldown</option>
											</select>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label col-sm-2" for="region">Region</label>
										<div class="col-sm-10">
											<select class="form-control selectpicker input-xs"
												data-width="75px" id="region">
												<option th:each="key : ${regionNames.keySet()}"
													th:value="${key}" th:text="${regionNames.get(key)}">pulldown</option>
											</select>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label col-sm-2" for="elb">ELB</label>
										<div class="col-sm-10">
											<select class="form-control selectpicker input-xs" id="elb">
											</select>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label col-sm-2" for="instance">instance</label>
										<div class="col-sm-10">
											<select class="form-control selectpicker input-xs"
												id="instance">
											</select>
										</div>
									</div>
								</form>
							</div>
						</div>
						<div class="tab-pane fade" id="tab-sg">
							<div style="padding-top: 10px">
								<form class="container-fluid form-horizontal">
									<div class="form-group">
										<label class="control-label col-sm-2">Service</label>
										<div class="col-sm-10">
											<input class="form-control input-xs disabled" disabled="true" value="EC2-SG" type="text" 
												></input>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label col-sm-2" for="jobId">Job名</label>
										<div class="col-sm-10">
											<input class="form-control input-xs" type="text" id="jobId"
												name="jobId" placeholder="Job名を入力"></input>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label col-sm-2" for="triggerName">Trigger</label>
										<div class="col-sm-10">
											<select class="form-control selectpicker input-xs"
												data-width="75px" id="triggerName">
												<option th:each="key : ${triggerNames.keySet()}"
													th:value="${key}" th:text="${triggerNames.get(key)}">pulldown</option>
											</select>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label col-sm-2" for="actionName">Action</label>
										<div class="col-sm-10">
											<select class="form-control selectpicker input-xs"
												data-width="75px" id="actionName">
												<option th:each="key : ${actionNames_sg.keySet()}"
													th:value="${key}" th:text="${actionNames_sg.get(key)}">pulldown</option>
											</select>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label col-sm-2" for="awsName">AWS</label>
										<div class="col-sm-10">
											<select class="form-control selectpicker input-xs"
												data-width="75px" id="awsName">
												<option th:each="key : ${awsNames.keySet()}"
													th:value="${key}" th:text="${awsNames.get(key)}">pulldown</option>
											</select>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label col-sm-2" for="region">Region</label>
										<div class="col-sm-10">
											<select class="form-control selectpicker input-xs"
												data-width="75px" id="region">
												<option th:each="key : ${regionNames.keySet()}"
													th:value="${key}" th:text="${regionNames.get(key)}">pulldown</option>
											</select>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label col-sm-2" for="groupId">SG</label>
										<div class="col-sm-10">
											<select class="form-control selectpicker input-xs"
												id="groupId">
											</select>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label col-sm-2" for="ipProtocol">IpProtocol</label>
										<div class="col-sm-10">
											<select class="form-control selectpicker input-xs"
												data-width="75px" id="ipProtocol">
												<option th:each="key : ${ipProtocols.keySet()}"
													th:value="${key}" th:text="${ipProtocols.get(key)}">pulldown</option>
											</select>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label col-sm-2" for="port">Port</label>
										<div class="col-sm-10">
											<input class="form-control input-xs" type="text" id="port"
												name="port" placeholder="portを入力"></input>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label col-sm-2" for="cidr">CIDR</label>
										<div class="col-sm-10">
											<input class="form-control input-xs" type="text" id="cidr"
												name="cidr" placeholder="CIDRを入力"></input>
										</div>
									</div>
								</form>
							</div>
						</div>
						<div class="tab-pane fade" id="tab-rds">
							<div style="padding-top: 10px">
								<form class="container-fluid form-horizontal">
									<div class="form-group">
										<label class="control-label col-sm-2">Service</label>
										<div class="col-sm-10">
											<input class="form-control input-xs disabled" disabled="true" value="RDS" type="text" 
												></input>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label col-sm-2" for="jobId">JobId</label>
										<div class="col-sm-10">
											<input class="form-control input-xs" type="text" id="jobId"
												name="jobId" placeholder="JobIdを入力"></input>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label col-sm-2" for="triggerName">Trigger</label>
										<div class="col-sm-10">
											<select class="form-control selectpicker input-xs"
												data-width="75px" id="triggerName">
												<option th:each="key : ${triggerNames.keySet()}"
													th:value="${key}" th:text="${triggerNames.get(key)}">pulldown</option>
											</select>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label col-sm-2" for="actionName">Action</label>
										<div class="col-sm-10">
											<select class="form-control selectpicker input-xs"
												data-width="75px" id="actionName">
												<option th:each="key : ${actionNames_rds.keySet()}"
													th:value="${key}" th:text="${actionNames_rds.get(key)}">pulldown</option>
											</select>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label col-sm-2" for="awsName">AWS</label>
										<div class="col-sm-10">
											<select class="form-control selectpicker input-xs"
												data-width="75px" id="awsName">
												<option th:each="key : ${awsNames.keySet()}"
													th:value="${key}" th:text="${awsNames.get(key)}">pulldown</option>
											</select>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label col-sm-2" for="region">Region</label>
										<div class="col-sm-10">
											<select class="form-control selectpicker input-xs"
												data-width="75px" id="region">
												<option th:each="key : ${regionNames.keySet()}"
													th:value="${key}" th:text="${regionNames.get(key)}">pulldown</option>
											</select>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label col-sm-2" for="instance">instance</label>
										<div class="col-sm-10">
											<select class="form-control selectpicker input-xs"
												id="instance">
											</select>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label col-sm-2" for="snapshot">snapshot</label>
										<div class="col-sm-10">
											<select class="form-control selectpicker input-xs"
												id="snapshot">
											</select>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary">登録</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
	<!-- /.modal -->




	<!-- 編集ダイアログ -->
	<div class="modal fade" id="mod-ec2" tabindex="-1" role="dialog"
		aria-labelledby="mod-ec2Label" aria-hidden="true" data-show="true"
		data-keyboard="false" data-backdrop="static">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&#215;</span><span class="sr-only">閉じる</span>
					</button>
					<h3 class="modal-title">ジョブ編集</h3>
				</div>
				<!-- /modal-header -->
				<div class="modal-body">
					<form class="container-fluid form-horizontal">
						<div style="padding-top: 10px">
							<span style="padding-bottom: 5px" class="text-danger" id="error"></span>
							<input class="form-control" type="hidden" id="description"
								value="description"></input> <input class="form-control"
								type="hidden" id="arn" name="arn"></input>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-2" for="jobId">JobId</label>
							<div class="col-sm-10">
								<input class="form-control input-xs" type="text" id="jobId"
									name="jobId" placeholder="JobIdを入力"></input>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-2" for="triggerName">Trigger</label>
							<div class="col-sm-10">
								<select class="form-control selectpicker input-xs"
									data-width="75px" id="triggerName">
									<option th:each="key : ${triggerNames.keySet()}"
										th:value="${key}" th:text="${triggerNames.get(key)}">pulldown</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-2" for="actionName">Action</label>
							<div class="col-sm-10">
								<select class="form-control selectpicker input-xs"
									data-width="75px" id="actionName">
									<option th:each="key : ${actionNames_ec2.keySet()}"
										th:value="${key}" th:text="${actionNames_ec2.get(key)}">pulldown</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-2" for="awsName">AWS</label>
							<div class="col-sm-10">
								<select class="form-control selectpicker input-xs"
									data-width="75px" id="awsName">
									<option th:each="key : ${awsNames.keySet()}" th:value="${key}"
										th:text="${awsNames.get(key)}">pulldown</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-2" for="region">Region</label>
							<div class="col-sm-10">
								<select class="form-control selectpicker input-xs"
									data-width="75px" id="region">
									<option th:each="key : ${regionNames.keySet()}"
										th:value="${key}" th:text="${regionNames.get(key)}">pulldown</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-2" for="instance">instance</label>
							<div class="col-sm-10">
								<select class="form-control selectpicker input-xs" id="instance">
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-2" for="image">image</label>
							<div class="col-sm-10">
								<select class="form-control selectpicker input-xs" id="image">
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-2" for="snapshot">snapshot</label>
							<div class="col-sm-10">
								<select class="form-control selectpicker input-xs" id="snapshot">
								</select>
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary">変更を保存</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
				</div>
			</div>
		</div>
	</div>
	<!-- /.modal-content -->
	<!-- /.modal-dialog -->
	<!-- /.modal -->
	<!-- 編集ダイアログここまで -->
	<!-- 編集ダイアログ -->
	<div class="modal fade" id="mod-sg" tabindex="-1" role="dialog"
		aria-labelledby="mod-sgLabel" aria-hidden="true" data-show="true"
		data-keyboard="false" data-backdrop="static">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&#215;</span><span class="sr-only">閉じる</span>
					</button>
					<h3 class="modal-title">ジョブ編集</h3>
				</div>
				<!-- /modal-header -->
				<div class="modal-body">
					<form class="container-fluid form-horizontal">
						<div style="padding-top: 10px">
							<span style="padding-bottom: 5px" class="text-danger" id="error"></span>
							<input class="form-control" type="hidden" id="description"
								value="description"></input> <input class="form-control"
								type="hidden" id="arn" name="arn"></input>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-2" for="jobId">Job名</label>
							<div class="col-sm-10">
								<input class="form-control input-xs" type="text" id="jobId"
									name="jobId" placeholder="Job名を入力"></input>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-2" for="triggerName">Trigger</label>
							<div class="col-sm-10">
								<select class="form-control selectpicker input-xs"
									data-width="75px" id="triggerName">
									<option th:each="key : ${triggerNames.keySet()}"
										th:value="${key}" th:text="${triggerNames.get(key)}">pulldown</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-2" for="actionName">Action</label>
							<div class="col-sm-10">
								<select class="form-control selectpicker input-xs"
									data-width="75px" id="actionName">
									<option th:each="key : ${actionNames_sg.keySet()}"
										th:value="${key}" th:text="${actionNames_sg.get(key)}">pulldown</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-2" for="awsName">AWS</label>
							<div class="col-sm-10">
								<select class="form-control selectpicker input-xs"
									data-width="75px" id="awsName">
									<option th:each="key : ${awsNames.keySet()}" th:value="${key}"
										th:text="${awsNames.get(key)}">pulldown</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-2" for="region">Region</label>
							<div class="col-sm-10">
								<select class="form-control selectpicker input-xs"
									data-width="75px" id="region">
									<option th:each="key : ${regionNames.keySet()}"
										th:value="${key}" th:text="${regionNames.get(key)}">pulldown</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-2" for="groupId">SG</label>
							<div class="col-sm-10">
								<select class="form-control selectpicker input-xs" id="groupId">
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-2" for="ipProtocol">IpProtocol</label>
							<div class="col-sm-10">
								<select class="form-control selectpicker input-xs"
									data-width="75px" id="ipProtocol">
									<option th:each="key : ${ipProtocols.keySet()}"
										th:value="${key}" th:text="${ipProtocols.get(key)}">pulldown</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-2" for="port">Port</label>
							<div class="col-sm-10">
								<input class="form-control input-xs" type="text" id="port"
									name="port" placeholder="portを入力"></input>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-2" for="cidr">CIDR</label>
							<div class="col-sm-10">
								<input class="form-control input-xs" type="text" id="cidr"
									name="cidr" placeholder="CIDRを入力"></input>
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary">変更を保存</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
				</div>
			</div>
		</div>
	</div>
	<!-- 編集ダイアログここまで -->
	<!-- 編集RDSダイアログ -->
	<div class="modal fade" id="mod-rds" tabindex="-1" role="dialog"
		aria-labelledby="mod-rdsLabel" aria-hidden="true" data-show="true"
		data-keyboard="false" data-backdrop="static">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&#215;</span><span class="sr-only">閉じる</span>
					</button>
					<h3 class="modal-title">ジョブ編集</h3>
				</div>
				<!-- /modal-header -->
				<div class="modal-body">
					<form class="container-fluid form-horizontal">
						<div class="form-group">
							<label class="control-label col-sm-2" for="jobId">JobId</label>
							<div class="col-sm-10">
								<input class="form-control input-xs" type="text" id="jobId"
									name="jobId" placeholder="JobIdを入力"></input>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-2" for="triggerName">Trigger</label>
							<div class="col-sm-10">
								<select class="form-control selectpicker input-xs"
									data-width="75px" id="triggerName">
									<option th:each="key : ${triggerNames.keySet()}"
										th:value="${key}" th:text="${triggerNames.get(key)}">pulldown</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-2" for="actionName">Action</label>
							<div class="col-sm-10">
								<select class="form-control selectpicker input-xs"
									data-width="75px" id="actionName">
									<option th:each="key : ${actionNames_rds.keySet()}"
										th:value="${key}" th:text="${actionNames_rds.get(key)}">pulldown</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-2" for="awsName">AWS</label>
							<div class="col-sm-10">
								<select class="form-control selectpicker input-xs"
									data-width="75px" id="awsName">
									<option th:each="key : ${awsNames.keySet()}" th:value="${key}"
										th:text="${awsNames.get(key)}">pulldown</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-2" for="region">Region</label>
							<div class="col-sm-10">
								<select class="form-control selectpicker input-xs"
									data-width="75px" id="region">
									<option th:each="key : ${regionNames.keySet()}"
										th:value="${key}" th:text="${regionNames.get(key)}">pulldown</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-2" for="instance">instance</label>
							<div class="col-sm-10">
								<select class="form-control selectpicker input-xs" id="instance">
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-2" for="snapshot">snapshot</label>
							<div class="col-sm-10">
								<select class="form-control selectpicker input-xs" id="snapshot">
								</select>
							</div>
						</div>
					</form>

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary">変更を保存</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
				</div>
			</div>
		</div>
	</div>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"
		th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
	<script
		src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"
		th:src="@{/webjars/bootstrap/3.2.0/js/bootstrap.min.js}"></script>
	<script
		src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.9.1/bootstrap-table.min.js"></script>
	<script type="text/javascript" th:inline="javascript"
		th:src="@{/js/response-handler.js}">
		
	</script>
	<script type="text/javascript" th:inline="javascript"
		th:src="@{/js/utils.js}">
		
	</script>
	<script type="text/javascript" th:inline="javascript"
		th:src="@{/js/bootstrap-timepicker.min.js}">
	</script>
	<script type="text/javascript" th:inline="javascript"
		th:src="@{/js/mod-ec2.js}">
	</script>
	<script type="text/javascript" th:inline="javascript"
		th:src="@{/js/mod-sg.js}">
	</script>
	<script type="text/javascript" th:inline="javascript"
		th:src="@{/js/mod-rds.js}">
	</script>
	<script type="text/javascript" th:inline="javascript"
		th:src="@{/js/reg-ec2.js}">
	</script>
	<script type="text/javascript" th:inline="javascript"
		th:src="@{/js/reg-ebs.js}">
	</script>
	<script type="text/javascript" th:inline="javascript"
		th:src="@{/js/reg-rds.js}">
	</script>
	<script type="text/javascript" th:inline="javascript"
		th:src="@{/js/reg-elb.js}">
	</script>
	<script type="text/javascript" th:inline="javascript"
		th:src="@{/js/reg-sg.js}">
	</script>
	<script type="text/javascript" th:inline="javascript"
		th:src="@{/js/req.js}">
		
	</script>
	<script type="text/javascript" th:inline="javascript"
		th:src="@{/js/rm.js}">
		
	</script>
	<script type="text/javascript" th:inline="javascript"
		th:src="@{/js/static.js}">
		
	</script>
	<script type="text/javascript" th:inline="javascript"
		th:src="@{/js/exec.js}">
	</script>
</body>
</html>
