<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
  <header th:fragment="static">
	<!-- 編集ダイアログ -->
	<div class="modal fade" id="mod-ec2" tabindex="-1" role="dialog"
		aria-labelledby="mod-ec2Label" aria-hidden="true" data-show="true"
		data-keyboard="false" data-backdrop="static">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&#215;</span><span class="sr-only">閉じる</span>
					</button>
					<h3 class="modal-title">ジョブ編集</h3>
				</div>
				<!-- /modal-header -->
				<div class="modal-body">
					<form class="container-fluid form-horizontal">
						<div style="padding-top: 10px">
							<span style="padding-bottom: 5px" class="text-danger" id="error"></span>
							<input class="form-control" type="hidden" id="description"
								value="description"></input> <input class="form-control"
								type="hidden" id="arn" name="arn"></input>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-2" for="jobId">JobId</label>
							<div class="col-sm-10">
								<input class="form-control input-xs" type="text" id="jobId"
									name="jobId" placeholder="JobIdを入力"></input>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-2" for="triggerName">Trigger</label>
							<div class="col-sm-10">
								<select class="form-control selectpicker input-xs"
									data-width="75px" id="triggerName">
									<option th:each="key : ${triggerNames.keySet()}"
										th:value="${key}" th:text="${triggerNames.get(key)}">pulldown</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-2" for="actionName">Action</label>
							<div class="col-sm-10">
								<select class="form-control selectpicker input-xs"
									data-width="75px" id="actionName">
									<option th:each="key : ${actionNames_ec2.keySet()}"
										th:value="${key}" th:text="${actionNames_ec2.get(key)}">pulldown</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-2" for="awsName">AWS</label>
							<div class="col-sm-10">
								<select class="form-control selectpicker input-xs"
									data-width="75px" id="awsName">
									<option th:each="key : ${awsNames.keySet()}" th:value="${key}"
										th:text="${awsNames.get(key)}">pulldown</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-2" for="region">Region</label>
							<div class="col-sm-10">
								<select class="form-control selectpicker input-xs"
									data-width="75px" id="region">
									<option th:each="key : ${regionNames.keySet()}"
										th:value="${key}" th:text="${regionNames.get(key)}">pulldown</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-2" for="instance">instance</label>
							<div class="col-sm-10">
								<select class="form-control selectpicker input-xs" id="instance">
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-2" for="image">image</label>
							<div class="col-sm-10">
								<select class="form-control selectpicker input-xs" id="image">
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-2" for="snapshot">snapshot</label>
							<div class="col-sm-10">
								<select class="form-control selectpicker input-xs" id="snapshot">
								</select>
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary">変更を保存</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
				</div>
			</div>
		</div>
	</div>
	<!-- /.modal-content -->
	<!-- /.modal-dialog -->
	<!-- /.modal -->
	<!-- 編集ダイアログここまで -->
	<!-- 編集ダイアログ -->
	<div class="modal fade" id="mod-sg" tabindex="-1" role="dialog"
		aria-labelledby="mod-sgLabel" aria-hidden="true" data-show="true"
		data-keyboard="false" data-backdrop="static">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&#215;</span><span class="sr-only">閉じる</span>
					</button>
					<h3 class="modal-title">ジョブ編集</h3>
				</div>
				<!-- /modal-header -->
				<div class="modal-body">
					<form class="container-fluid form-horizontal">
						<div style="padding-top: 10px">
							<span style="padding-bottom: 5px" class="text-danger" id="error"></span>
							<input class="form-control" type="hidden" id="description"
								value="description"></input> <input class="form-control"
								type="hidden" id="arn" name="arn"></input>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-2" for="jobId">Job名</label>
							<div class="col-sm-10">
								<input class="form-control input-xs" type="text" id="jobId"
									name="jobId" placeholder="Job名を入力"></input>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-2" for="triggerName">Trigger</label>
							<div class="col-sm-10">
								<select class="form-control selectpicker input-xs"
									data-width="75px" id="triggerName">
									<option th:each="key : ${triggerNames.keySet()}"
										th:value="${key}" th:text="${triggerNames.get(key)}">pulldown</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-2" for="actionName">Action</label>
							<div class="col-sm-10">
								<select class="form-control selectpicker input-xs"
									data-width="75px" id="actionName">
									<option th:each="key : ${actionNames_sg.keySet()}"
										th:value="${key}" th:text="${actionNames_sg.get(key)}">pulldown</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-2" for="awsName">AWS</label>
							<div class="col-sm-10">
								<select class="form-control selectpicker input-xs"
									data-width="75px" id="awsName">
									<option th:each="key : ${awsNames.keySet()}" th:value="${key}"
										th:text="${awsNames.get(key)}">pulldown</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-2" for="region">Region</label>
							<div class="col-sm-10">
								<select class="form-control selectpicker input-xs"
									data-width="75px" id="region">
									<option th:each="key : ${regionNames.keySet()}"
										th:value="${key}" th:text="${regionNames.get(key)}">pulldown</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-2" for="groupId">SG</label>
							<div class="col-sm-10">
								<select class="form-control selectpicker input-xs" id="groupId">
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-2" for="ipProtocol">IpProtocol</label>
							<div class="col-sm-10">
								<select class="form-control selectpicker input-xs"
									data-width="75px" id="ipProtocol">
									<option th:each="key : ${ipProtocols.keySet()}"
										th:value="${key}" th:text="${ipProtocols.get(key)}">pulldown</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-2" for="port">Port</label>
							<div class="col-sm-10">
								<input class="form-control input-xs" type="text" id="port"
									name="port" placeholder="portを入力"></input>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-2" for="cidr">CIDR</label>
							<div class="col-sm-10">
								<input class="form-control input-xs" type="text" id="cidr"
									name="cidr" placeholder="CIDRを入力"></input>
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary">変更を保存</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
				</div>
			</div>
		</div>
	</div>
	<!-- 編集ダイアログここまで -->
	<!-- 編集RDSダイアログ -->
	<div class="modal fade" id="mod-rds" tabindex="-1" role="dialog"
		aria-labelledby="mod-rdsLabel" aria-hidden="true" data-show="true"
		data-keyboard="false" data-backdrop="static">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&#215;</span><span class="sr-only">閉じる</span>
					</button>
					<h3 class="modal-title">ジョブ編集</h3>
				</div>
				<!-- /modal-header -->
				<div class="modal-body">
					<form class="container-fluid form-horizontal">
						<div class="form-group">
							<label class="control-label col-sm-2" for="jobId">JobId</label>
							<div class="col-sm-10">
								<input class="form-control input-xs" type="text" id="jobId"
									name="jobId" placeholder="JobIdを入力"></input>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-2" for="triggerName">Trigger</label>
							<div class="col-sm-10">
								<select class="form-control selectpicker input-xs"
									data-width="75px" id="triggerName">
									<option th:each="key : ${triggerNames.keySet()}"
										th:value="${key}" th:text="${triggerNames.get(key)}">pulldown</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-2" for="actionName">Action</label>
							<div class="col-sm-10">
								<select class="form-control selectpicker input-xs"
									data-width="75px" id="actionName">
									<option th:each="key : ${actionNames_rds.keySet()}"
										th:value="${key}" th:text="${actionNames_rds.get(key)}">pulldown</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-2" for="awsName">AWS</label>
							<div class="col-sm-10">
								<select class="form-control selectpicker input-xs"
									data-width="75px" id="awsName">
									<option th:each="key : ${awsNames.keySet()}" th:value="${key}"
										th:text="${awsNames.get(key)}">pulldown</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-2" for="region">Region</label>
							<div class="col-sm-10">
								<select class="form-control selectpicker input-xs"
									data-width="75px" id="region">
									<option th:each="key : ${regionNames.keySet()}"
										th:value="${key}" th:text="${regionNames.get(key)}">pulldown</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-2" for="instance">instance</label>
							<div class="col-sm-10">
								<select class="form-control selectpicker input-xs" id="instance">
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-2" for="snapshot">snapshot</label>
							<div class="col-sm-10">
								<select class="form-control selectpicker input-xs" id="snapshot">
								</select>
							</div>
						</div>
					</form>

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary">変更を保存</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
				</div>
			</div>
		</div>
	</div>

  </header>
</body>
</html>